<%= form_tag("/result", method: "post") do %>
    <%= label_tag(:q, "Champion 1") %>
    <%= text_field_tag(:q) %> <br>
    <%= label_tag(:q, "Champion 2") %>
    <%= text_field_tag(:q) %> <br>
    <%= label_tag(:q, "Champion 3") %>
    <%= text_field_tag(:q) %> <br>
    <%= label_tag(:q, "Champion 4") %>
    <%= text_field_tag(:q) %> <br>
    <%= label_tag(:q, "Champion 5") %>
    <%= text_field_tag(:q) %> <br>
    <%= submit_tag("Search") %>
<% end %>
<!--

<%= form_for :wr do |f| %>
  <p>
    <%= label_tag(:q, "Champion 1") %>
    <%= text_field(:champion1, :name) %>
  </p>

  <p>
    <%= label_tag(:q, "Champion 2") %>
    <%= text_field(:champion2, :name) %>
  </p>
  <p>
    <%= label_tag(:q, "Champion 3") %>
    <%= text_field(:champion3, :name) %>
  </p>

  <p>
    <%= label_tag(:q, "Champion 4") %>
    <%= text_field(:champion4, :name) %>
  </p>

  <p>
    <%= label_tag(:q, "Champion 5") %>
    <%= text_field(:champion5, :name) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %> -->
